#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
//#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/outputs.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        default_layer {

// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------new
// |  ESC |  1  |  2  |  3  |  4  |  5  |   |  6  |  7   |  8  |  9  |  0  |  =   |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  |  \   |
// | SHFT |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// | CTRL |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |   , |  .  |  /  | SHFT |
//                    | RSE |RET | SPC |   | BKSP| ALT  | GUI |
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------

                        bindings = <
   &kp ESC   &kp N1 &kp N2 &kp N3     &kp N4    &kp N5   &kp N6   &kp N7 &kp N8    &kp N9  &kp N0   &kp EQUAL
   &kp TAB   &kp Q  &kp W  &kp E      &kp R     &kp T    &kp Y    &kp U  &kp I     &kp O   &kp P    &kp BSLH
   &kp LSHFT &kp A  &kp S  &kp D      &kp F     &kp G    &kp H    &kp J  &kp K     &kp L   &kp SEMI &kp APOS
   &kp LCTRL &kp Z  &kp X  &kp C      &kp V     &kp B    &kp N    &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHFT
                    &tog 1 &kp RET    &kp SPACE &kp BSPC &kp LALT &kp LGUI
                        >;
                };

                upper_layer {

// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------new
// |  ESC |  F1 |  F2 |  F3 |  F4 |  F5 |   |  F6 |  F7 |  F8 |  F9 |  F10 | EQUAL |
// |  TAB |     |     |     | HOME|  [  |   |  ]  | END | UP  |     |      | MINUS |
// | SHFT |     |     |     |     |  {  |   |  }  | LFT | DWN | RGT |      | TILDE |
// | CTRL |     |     |     |     |  #  |   |  @  |     |     |     |      | *     |
//                    | LWR |     |     |   |     |     |     |
// -----------------------------------------------------------------------------------------
// -----------------------------------------------------------------------------------------

                        bindings = <
   &kp ESC   &kp F1 &kp F2 &kp F3  &kp F4   &kp F5    &kp F6   &kp F7         &kp F8         &kp F9          &kp F10 &kp EQUAL
   &kp TAB   &none  &none  &none   &kp HOME &kp LBKT  &kp RBKT &kp END        &kp UP_ARROW   &none           &none   &kp MINUS
   &kp LSHFT &none  &none  &none   &none    &kp LBRC  &kp RBRC &kp LEFT_ARROW &kp DOWN_ARROW &kp RIGHT_ARROW &none   &kp TILDE
   &kp LCTRL &none  &none  &none   &none    &kp HASH  &kp AT   &none          &none          &none           &none   &kp STAR
                           &to 0   &trans   &trans    &trans   &trans         &trans
                        >;
                };
        };
};